.App {
 
  background-color: #c23616;
  padding: 8% 0 ;
  min-height: 100vh;

}

.App-container{
  background-color: white;
  padding: 40px 10px;
}

.App-header {
  background-color: #c23616;
  color: white;
  padding: 20px 10px;
  
}




