body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type="text"]{
  outline-offset: none !important;
 border:1px solid #dcdde1  ;
 border-radius: 2px ;
  padding: 10px 15px !important;


}

input[type="text"]:focus{
  border: 1px solid #2f3640 !important;
  outline-offset: none !important;
  outline:none;
}
